

@import '~antd/dist/antd.scss';



body{

  div {
    background-color: yellow;
    
  }
  h1, p {
    font-family: Lato;
  }

  #root{
    background-color: red;

    .row {
      display: flex;
      flex-direction: row;
      @include colored
    }

    
  }

}

@mixin colored {
  &.zero{
    background-color: blue;
    color: white;
  }
  
  &.negatif{
    background-color: blue;
    color: red;
  }
  
  &.positif {
    background-color: blue;
    color: green;
  }
}